$blue: #0000ff;

.my-button {
    background-color: $blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: darken($blue, 10%);
    }
  }
  